<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= user.nickname%> 个人主页</title>
    <!--weui-jquery 样式-->
    <link rel="stylesheet" href="/stylesheets/weui.css">
    <link rel="stylesheet" href="/stylesheets/jquery-weui.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper.css">
    <link rel="stylesheet" href="/stylesheets/square.css">
</head>
<body>
<article id="container" class="container">
    <div class="redirect-nav">
        <ul>
            <li class="redirect-nav-subleft"><img class="backimg" src="/images/back.png" alt=""></li>
            <li class="redirect-nav-subleft"><a href="/">返回</a></li>
        </ul>

    </div>

    <div class="weui_panel">
        <div class="weui_panel_bd">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="<%= user.headimgurl%>" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title"><%= user.nickname %></h4>
                    <p class="weui_media_desc"><%= user.introduction%></p>
                </div>
            </a>
        </div>
    </div>

    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>性别</p>
            </div>
            <div class="weui_cell_ft">
                <% if(user.sex == 1) {%>
                <%= "男"%>
                <% }else if(user.sex == 2){%>
                <%= "女"%>
                <%}else{%>
                <%= "未知"%>
                <%}%>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>学校</p>
            </div>
            <div class="weui_cell_ft"><%= user.school_name%></div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>家乡</p>
            </div>
            <div class="weui_cell_ft"><%= user.homeprovincename%> <%= user.homecityname%></div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>微信号</p>
            </div>
            <div class="weui_cell_ft"><%= user.wechatnumber%></div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <a id="delGoodFriend" data-friendid="<%= user.userid%>" class="weui_btn weui_btn_warn">取消关注</a>
            </div>
            <div class="weui_cell_ft"></div>
        </div>

    </div>


</article>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-weui.min.js"></script>

<script>
    $(document).ready(function () {
        //取消关注好友
        $("#delGoodFriend").on("click", function () {
            var friendid = $(this).data("friendid");
            $.ajax({
                type: "post",
                url: "/friends/delfriend",
                datatype: "json",
                data:{friendid: friendid},
                success: function (redata) {
                    console.log(redata);
                    if(redata.state){
                        $.toast("取消成功",function () {
                            window.location.href="/";
                        });
                    }else {
                        $.toast("取消失败","forbidden",function () {
                            window.location.href="/";
                        });
                    }
                },
                error: function () {
                    toast("网络错误", "forbidden");
                }
            });
        })
    });
</script>

</html>