<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理后台</title>
    <link rel="stylesheet" href="/stylesheets/mediaadmin.css">
</head>
<body>
<div class="container">
    <div class="wx-menu">
        <ul id="menu">
            <li><a class="active">数据统计</a></li>
            <li><a>老乡会</a></li>
            <li><a>会员管理</a></li>
        </ul>
    </div>
    <div class="content">
        <section id="statistic" class="content-active">
            <div id="chart-sex" style="width: 600px;height:400px;"></div>
        </section>
        <section id="hometown">
            <div class="hint">
                <p><span class="hint-title">提示 </span>: 每天 00:00 更新数据</p>
            </div>
            <table>
                <tr class="table-head">
                    <th>#</th>
                    <th>名称</th>
                    <th>会员数</th>
                    <th>活动数</th>
                    <th>动态数</th>
                </tr>
                <% var provincename = ['北京','上海','天津','重庆','黑龙江','吉林','辽宁','山东','山西','陕西','河北','河南','湖北','湖南','海南','江苏','江西','广东','广西','云南','贵州','四川','内蒙古','宁夏','甘肃','青海','西藏','新疆','安徽','浙江','福建','香港','澳门','台湾','海外'] %>
                <% hometowns.forEach(function (hometown, index) { %>
                <tr class="td-<%= index % 2 %>">
                    <td><%= index + 1 %></td>
                    <td><%= provincename[hometown.homeprovinceid-1] %></td>
                    <td><%= hometown.useramount %></td>
                    <td><%= hometown.activityamount %></td>
                    <td><%= hometown.weiboamount %></td>
                </tr>
                <% }) %>
            </table>
        </section>
        <section id="users">
            <div>
                <select id="province-select">
                    <option value="-1">所有会员</option>
                    <option value="1">北京</option>
                    <option value="2">上海</option>
                    <option value="3">天津</option>
                    <option value="4">重庆</option>
                    <option value="5">黑龙江</option>
                    <option value="6">吉林</option>
                    <option value="7">辽宁</option>
                    <option value="8">山东</option>
                    <option value="9">山西</option>
                    <option value="10">陕西</option>
                    <option value="11">河北</option>
                    <option value="12">河南</option>
                    <option value="13">湖北</option>
                    <option value="14">湖南</option>
                    <option value="15">海南</option>
                    <option value="16">江苏</option>
                    <option value="17">江西</option>
                    <option value="18">广东</option>
                    <option value="19">广西</option>
                    <option value="20">云南</option>
                    <option value="21">贵州</option>
                    <option value="22">四川</option>
                    <option value="23">内蒙古</option>
                    <option value="24">宁夏</option>
                    <option value="25">甘肃</option>
                    <option value="26">青海</option>
                    <option value="27">西藏</option>
                    <option value="28">新疆</option>
                    <option value="29">安徽</option>
                    <option value="30">浙江</option>
                    <option value="31">福建</option>
                    <option value="32">香港</option>
                    <option value="33">澳门</option>
                    <option value="34">台湾</option>
                    <option value="35">海外</option>
                </select>
                <table id="users-table">
                    <tr class="table-head">
                        <th>#</th>
                        <th>头像</th>
                        <th>昵称</th>
                        <th>性别</th>
                        <th>家乡省</th>
                        <th>家乡市</th>
                        <th>微信号</th>
                        <th>家乡信息修改权限</th>
                    </tr>
                    <% users.forEach(function (user, index) { %>
                    <tr class="td-<%= index%2+1 %>">
                        <td><%= index + 1 %></td>
                        <td><img src="<%= user.headimgurl %>"></td>
                        <td><%= user.nickname %></td>
                        <td><%= user.sex == 1 ? '男' : '女' %></td>
                        <td><%= user.homeprovincename %></td>
                        <td><%= user.homecityname %></td>
                        <td><%= user.wechatnumber %></td>
                        <td><%= user.basicmodify %></td>
                    </tr>
                    <% }) %>

                </table>
            </div>
        </section>
    </div>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="//cdn.bootcss.com/echarts/3.3.1/echarts.common.js"></script>
<script>
    $(document).ready(function () {
        var userstr = '<%- JSON.stringify(users) %>';
        var users = JSON.parse(userstr);

        $("#statistic").show();

        //切换选项卡
        $("#menu li").on("click", function () {
            $("#menu li>a").each(function (index) {
                $(this).removeClass('active');
            })
            $(this).find('a').addClass('active');
            var index = $(this).index();
            var sections = $(".content section");
            sections.each(function (index) {
                $(this).hide();
            })
            sections.eq(index).show();
        });

        $('#province-select').on('change', function () {
            var provinceid = this.value;
            var html = '<tr class="table-head"> <th>#</th> <th>头像</th> <th>昵称</th> <th>性别</th> <th>家乡省</th> <th>家乡市</th> <th>微信号</th></tr>';
            var key = 0;
            var resultuser = [];

            if (provinceid == -1) {
                users.forEach(function (user) {
                    resultuser.push(user);
                    console.log(user);
                    //user.sex == 1 ? user.sex = '男' : user.sex = '女';
                    key++;
                    html += '<tr class="td-'+ key%2 +'"><td>' + key + '</td><td><img src="' + user.headimgurl + '"></td><td>' + user.nickname + '</td><td>' + (user.sex == 1 ?  '男' :  '女') + '</td><td>' + user.homeprovincename + '</td><td>' + user.homecityname + '</td><td>' + user.wechatnumber + '</td></tr>';
                });
            } else {
                users.forEach(function (user) {
                    if (user.homeprovinceid == provinceid) {
                        resultuser.push(user);
                        //user.sex == 1 ? user.sex = '男' : user.sex = '女';
                        key++;
                        html += '<tr class="td-'+ key%2 +'"><td>' + key + '</td><td><img src="' + user.headimgurl + '"></td><td>' + user.nickname + '</td><td>' + (user.sex == 1 ?  '男' :  '女') + '</td><td>' + user.homeprovincename + '</td><td>' + user.homecityname + '</td><td>' + user.wechatnumber + '</td></tr>';
                    }
                });
            }
            $('#users-table').html(html);


        });

        var sexdata = [{value:0, name:'男'},{value:0, name:'女'}];

        var male = 0;
        var female = 0;
        users.forEach(function (user) {
            user.sex == 1 ? male++ : female++ ;
        });

        sexdata[0].value = male;
        sexdata[1].value = female;

        console.log(sexdata);

        var sexChart = echarts.init(document.getElementById('chart-sex'));

        var sexChartOption = {
            title: {
                text: '男女比例',
                x: 'center'
            },
            tooltip: {},
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['男','女']
            },
            series: [{
                name: '性别比例',
                type: 'pie',
                center: ['50%', '60%'],
                data: sexdata,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };

        sexChart.setOption(sexChartOption);
    });
</script>
</html>