<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= schometown.schoolname %> <%= schometown.homeprovince%> 老乡会</title>
    <link rel="stylesheet" href="/stylesheets/weui.css">
    <link rel="stylesheet" href="/stylesheets/jquery-weui.min.css">
    <link rel="stylesheet" href="/stylesheets/schometown.css">

</head>
<body>
<article id="container" class="container">
    <header class="weui-row">
        <h1><%= schometown.schoolname%> <%= schometown.homeprovince%> 老乡会<br/><span id="media">©<%= schometown.media_name%> <img src="/images/2code.png"></span></h1>
    </header>
    <div class="weui_grids">
        <a href="javascript:;" class="weui_grid js_grid" data-id="button">
            <div class="weui_grid_icon">
                <img src="./images/activity_green.png" alt="">
            </div>
            <p class="weui_grid_label">
                活动: <%= schometown.activitynumber%>
            </p>
        </a>
        <a href="javascript:;" class="weui_grid js_grid" data-id="cell">
            <div class="weui_grid_icon">
                <img src="./images/weibo.png" alt="">
            </div>
            <p class="weui_grid_label">
                动态: <%= schometown.weibonumber%>
            </p>
        </a>
        <a href="javascript:;" class="weui_grid js_grid" data-id="toast">
            <div class="weui_grid_icon">
                <img src="./images/me_on.png" alt="">
            </div>
            <p class="weui_grid_label">
                会员: <%= schometown.homefriendsnumber%>
            </p>
        </a>
    </div>

</article>
<div id="mediaabout" class="weui-popup-container">
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal">

    <article class="weui_article">
        <h1><%= schometown.media_name%></h1>
        <section>
            <img style="user-select: none; cursor: zoom-in;" src="http://open.weixin.qq.com/qr/code/?username=<%= schometown.media_id%>" width="375" height="375">
        </section>
        <section>
            <p>长按二维码 关注公众号</p>
        </section>
        <section>
            <a href="javascript:;" class="weui_btn weui_btn_plain_primary close-popup">关闭</a>
            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
        </section>
    </article>
    </div>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-weui.min.js"></script>

<script>
    $(document).ready(function () {
        $("#media").on('click',function () {
            $("#mediaabout").popup();
        });
    })
</script>